body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #0d1117;
}
.navegationBar,.mainMenu{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  
}
.search-header{
  
  z-index: 32;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(240 246 252 / 70%);
  background-color: #161b22;
  align-items: center;
  flex-wrap: nowrap;

}
.search-header .list-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.search-header .list-form .search-elements{
  display: flex;
  min-height: 28px;
  width: 100%;
}
.search-header .list-form .search-elements input[type = text]{
  
  width: 100%;
  line-height: 24px;
}
.list-form .search-elements button:hover{
  border-color: #4c5157;
  
  outline: none;
}
.list-form .search-elements input:hover{
  border-color: #4c5157;
  
  outline: none;
}
.list-form .search-elements button:active{
  border-color: #388bfd;
  background-color: #388bfd;
  outline: none;
}

.list-form .search-elements input:focus{
  border-color: #388bfd;
  outline: none;
}
.list-user-input, .list-submit-btn{
  
  color: #f0f6fc;
  background-color: #0d1117;
  border: 1px solid #30363d;
}
.list-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content:center;
  align-items: center;
  margin-right: 8px;
  margin-left: 8px;
}
.repository-card{
  max-width: 800px;
  width: 80vw;
  border: 5px;
  padding: 15px;
  list-style-type:none;
  background-color: #161b22;
  border-color: #30363d;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}
.repository-card-header{
  display: flex;
  justify-content: space-between;
}
.repository-card-header Repository-title{
  color: #58a6ff;
}

.repository-item{
  font-style: normal;
  color: #8b949e;
  text-decoration-color: inherit;
}

.mainMenu-item, .mainMenu-item a {
  margin: 5px;
  display: flex;
  justify-content: center;
  font-style: normal;
  text-decoration: none;
  color: aliceblue;
  text-decoration-color: inherit;
  font-weight: 600;
  text-transform: uppercase;
}

.mainMenu-item, .mainMenu-item a:hover{
  margin: 5px;
  display: flex;
  justify-content: center;
  font-style: normal;
  text-decoration: none;
  color:#2cfc94;
  text-decoration-color: inherit;
  font-weight: 600;
  text-transform: uppercase;
}
.container {
  width: 100vw;
  height: 100vh;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
.login-box{
  width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #101018;
  text-align: center;
  border-radius: 12px;
}
.login-box .form-header{
  margin: 0;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box .form-header i{
  font-size: 26px;
}
.login-title{
 color:aliceblue;
 text-transform: uppercase;
 font-weight: 500; 
}
.login-box input[type = "text"], .login-box input[type = "password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3468da;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  color: azure;
  border-radius: 24px;
  transition: 250ms
}
.login-box input[type = "text"]:focus, .login-box input[type = "password"]:focus{
  border-color: #2cfc94;
  width: 260px;
}
.login-box .submit{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2cfc94;
  padding: 15px 40px;
  outline: none;
  color: azure;
  border-radius: 24px;
  transition: 250ms;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.login-box .submit:hover{
  background-color: #2cfc94;
}